#MameUIsen general config file

#########################
# GENERAL CONFIGURATION #
#########################

#The path to mame executable. Can be just "mame", if your system knows where it is located, but for security reasons, it should be the exact path to mame, eg: "/usr/games/mame"
MAME_PATH mame

#The path to your roms folder. Can be empty if mame knows where there are.
ROMS_PATH ../roms

#The path to your roms' screenshots. They must have the same name as the rom to which they are related, and be png file.
SCREENSHOTS_PATH ../screenshots


#########################
# GRAPHIC CONFIGURATION #
#########################

#Fullscreen: yes or no.
FULL_SCREEN no
FPS_RATE 60
THEME_PATH ../themes/default/default.theme
#only used when building configuration
ALL_ROMS_CATEGORY_NAME All